@import "tailwindcss";

/* Base Styling untuk Luxury Brand Vibe */
body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Warna blok teks saat diblok oleh kursor */
::selection {
  background-color: #000000;
  color: #ffffff;
}

/* Menyembunyikan scrollbar untuk tampilan yang lebih clean/editorial */
::-webkit-scrollbar {
  display: none;
}